table {
  border-collapse: collapse;
  margin: 30px auto;
}

th,
td {
  border: 1px solid #dddddd;
  padding: 16px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
